body{
    margin: 0;
    width: 100vw;
    font-size: 15px;
}
body header{
        background: hsl(180, 29%, 50%);  
        height: max-content;    
      }
header img{
        max-width: 100%;
        height: auto;
      }
      
.mobile{
  display: none;
}
#wrapper{      
        background: hsl(180, 52%, 96%);
        display: flex;
        flex-direction: column;
      }
#container{
        width: 90vw;
        margin: 70px auto;
      }
.card{
        margin-bottom: 1.8em;
        background: white;
        width: 90%;
        border-radius: 5px;
        display: flex;
        margin-left: 3%;
        flex-direction: row;
        box-shadow: 10px 8px 15px hsl(180, 32%, 85%);
        border-left: 5px solid hsl(180, 14%, 20%);
        padding:1.3em;
      }
.card img{
        align-self: flex-start;
        max-width: 20%;
        height: auto;
        margin: 1em 1.4em;
}

.info-wrapper{
      display: flex;
      flex-direction: row;
      max-width: 80%;
      justify-content: space-between;
}  
/* .info{
  border: 1px solid saddlebrown;                
}     */
.info-name{
      font-weight: 500;
      margin-right: 1em;
      color:hsl(180, 29%, 50%);
}

.new{
  font-weight: 500;
  margin-right: 1em;
  background: hsl(180, 29%, 50%);
  color: white;
  padding: 5px 8px;
  border-radius: 21px;
  font-size: 12px;
}
.Featured{
  font-weight: 500;
  background:  hsl(180, 14%, 20%);
  color: white;
  padding: 5px 10px;
  border-radius: 21px;
  font-size: 12px;
}
.info-level{
  font-weight: 700;
  font-size: 20px;
  opacity: 80%;
  margin: 0 auto;
}

.info-rest{
  font-weight: 500;
  opacity: 60%;
}

.tags{
  align-self: center;
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
}

.tag-item{
  background: hsl(180, 52%, 96%);
  color: hsl(180, 29%, 50%);
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
  margin: 8px;
  text-transform: capitalize;
}

@media only screen 
  and (min-width:200px )
  and (max-width: 450px)
  {
    #container{
      width: 80vw;
      margin: 70px auto;
    }
    .mobile {
      display: block;
      max-width: 100%;
      height: auto;
    }
    #desktop{
      display: none;
    }
    .card{
      position: relative;
      height: 30vh;
      display: flex;
      flex-direction: column;
      margin-bottom: 15%;

    }
    .card img{
      position: absolute;
      height: auto;
      max-width: 20%;
      top: -20%;
      left: 5%;
    }
    .rule{
      display: block;
      border: 1px solid black;
      margin: 0;
      opacity: 70%;
      width: 90%;
    }
    .info-header{
      display: flex;
      flex-flow: row wrap;
    }
    .info-rest{
      display: flex;
      flex-flow: row wrap;
    }
    .info-wrapper{
      width: 100%;
      margin: auto;
    }
    .tags{
      width: 95%;
      margin: auto;
      display: flex;
      flex-flow: row wrap;
    }
    .info{
      width: 95%;
      margin: auto;
      padding: -5px;
    }
} 

